@import "tailwindcss";

/* 🔥 Remove antd default white styles */
.custom-dark-table .ant-table {
  background: transparent;
}

.custom-dark-table .ant-table-thead > tr > th {
  background: #162032 !important;
  border-bottom: 1px solid #334155;
}

.custom-dark-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #334155;
  background: transparent;
}

.custom-dark-table .ant-table-tbody > tr:hover > td {
  background: #162032 !important;
}

.custom-dark-table .ant-table-cell {
  padding: 16px 20px;
}
